<div class="home_details">
  <div class="bootstrap-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="home_details_active owl-carousel owl-loaded owl-drag">
            <div class="owl-stage-outer">
              <div class="owl-stage">
                <div class="owl-item">
                  <div class="single_details">
                    <div class="row">
                      <div class="col-xl-6 col-md-6">
                        <div class="modern_home_info">
                          <div class="modern_home_info_inner">
                            <span class="for_sale"> for sale </span>
                            <div class="info_header">
                              <h3>Blue haven modern home</h3>
                              <div class="popular_pro d-flex">
                                <mat-icon>search</mat-icon>
                                <span>Popular Properties</span>
                              </div>
                            </div>
                          </div>
                          <div class="info_content">
                            <div class="footer_pro">
                              <div class="f-w bootstrap-wrapper">
                                <div class="row">
                                  <ul id="ul_top_hypers">
                                    <li>
                                      <div class="single_info_doc">
                                        <mat-icon class="ml--22"
                                          >rounded_corner</mat-icon
                                        >
                                        <span> Sqft</span>
                                      </div>
                                    </li>
                                    <li>
                                      <div class="single_info_doc">
                                        <mat-icon>night_shelter</mat-icon>
                                        <span> bed</span>
                                      </div>
                                    </li>
                                    <li>
                                      <div class="single_info_doc">
                                        <mat-icon>bathtub</mat-icon>
                                        <span>bath</span>
                                      </div>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                          <p>
                            Esteem spirit temper too say adieus who direct
                            esteem. It estee luckily or picture placing drawing.
                            Apartments frequently or motionless on reasonable.
                          </p>
                          <div
                            class="prise_view_details d-flex justify-content-between align-items-center"
                          >
                            <span class="detail_price">445$</span>
                            <div class="more_property_btn text-center">
                              <button class="boxed-btn3-line">
                                Hide Info
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
