.home_details {
  background-image: url(../../../../assets/09.jpg);
  background-size: cover;
  background-position: center center;
  padding: 140px 0;
  margin: 0 -5vw;
  scroll-behavior: hidden;
}

.no-js .owl-carousel,
.owl-carousel.owl-loaded {
  display: block;
}

.owl-carousel {
  display: none;
  width: 100%;
  z-index: 1;
}

.owl-carousel,
.owl-carousel .owl-item {
  -webkit-tap-highlight-color: transparent;
  position: relative;
}

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
}

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  -moz-backface-visibility: hidden;
}

.owl-stage {
  //   transform: translate3d(-6660px, 0px, 0px);
  transition: all 0s ease 0s;
  width: 12210px;
}

.owl-carousel.owl-drag .owl-item {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel .owl-item {
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-touch-callout: none;
}

.home_details .modern_home_info {
  background: #fff;
  margin-top: 20px;
  padding: 50px 30px 30px 30px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  position: relative;
}

.home_details .modern_home_info .modern_home_info_inner .info_header {
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 13px;
  padding-bottom: 29px;
}

.d-flex {
  display: flex !important;
}

.home_details .modern_home_info .modern_home_info_inner .info_content p {
  font-size: 15px;
  line-height: 28px;
  color: #727272;
  margin-bottom: 0;
  margin-bottom: 13px;
}

p {
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  color: #4d4d4d;
  margin-bottom: 13px;
  font-family: "Poppins", sans-serif;
  margin-top: 0;
}

.align-items-center {
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
}

.justify-content-between {
  -webkit-box-pack: justify !important;
  -ms-flex-pack: justify !important;
  justify-content: space-between !important;
}

boxed-btn3-line {
  color: #fdae5c !important;
  display: inline-block;
  padding: 14px 31px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 500;
  border: 0;
  border: 1px solid #fdae5c;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  text-align: center;
  text-transform: capitalize;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.home_details .modern_home_info .modern_home_info_inner span.for_sale {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #fdae5c;
  padding: 9px 21px;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 15px;
  color: #fff;
  font-weight: 500;
  top: -20px;
  left: 34px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2em;
}
.info_header .popular_pro span {
  color: #919191;
  font-size: 13px;
  font-weight: 400;
  display: inline-block;
  position: relative;
  top: 1px;
  margin-left: 5px;
}

.footer_pro {
  padding: 12px 25px;
}
li {
  list-style: none;
  display: list-item;
  text-align: -webkit-match-parent;
}
ul li .single_info_doc span {
  color: #676767;
  font-size: 18px;
  font-weight: 400;
  margin-left: 5px;
  display: inline-block;
}

.footer_pro ul {
  display: -webkit-box;
  display: -ms-flexbox;
  /* display: flex; */
  /* -webkit-box-align: center; */
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
ul {
  margin: 0px;
  padding: 0px;
  display: inherit;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.single_info_doc mat-icon {
  font-size: 22px;
  color: #676767;
  margin-left: 25px;
}
.ml--22 {
  margin-left: -22px !important;
}
.detail_price {
  color: #ff5748;
  font-size: 24px;
  font-weight: 500;
}

.boxed-btn3-line {
    background-color: white;
    color: #FDAE5C !important;
    display: inline-block;
    padding: 14px 31px;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 500;
    border: 0;
    border: 1px solid #FDAE5C;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    text-align: center;
    text-transform: capitalize;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    cursor: pointer;
}

.boxed-btn3-line:hover {
    color: #fff !important;
    border: 1px solid transparent;
    background: #fdae5c;
    background: -moz-linear-gradient(left, #fdae5c 0%, #fd8e5e 100%);
    background: -webkit-linear-gradient(left, #fdae5c 0%, #fd8e5e 100%);
    background: linear-gradient(to right, #fdae5c 0%, #fd8e5e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdae5c', endColorstr='#fd8e5e',GradientType=1 );
}

.more_property_btn {
    margin-top: 30px;
}


