<div class="f-w f-h bootstrap-wrapper">
  <div class="padding">
    <div class="row section_title">
      <div class="col mt-80">
        <h3>HamidReza Karami</h3>
      </div>
    </div>
    <div class="row">
        <div class="col-12 btn-space"></div>
    </div>
    <div class="row">
        <div class="col-12 btn-space"></div>
    </div>
    <div class="row">
      <div class="col-12 t-center">
        <button class="boxed-btn3-line" (click)="onClickLogOut()">
          Edit Info
        </button>
      </div>
    </div>
    <div class="row">
        <div class="col-12 btn-space"></div>
    </div>
    <div class="row">
      <div class="col-12 t-center">
        <button class="creatacc-btn" (click)="onClickCreatAcc()">
          Creat New Account
        </button>
      </div>
    </div>
    <div class="row">
        <div class="col-12 btn-space"></div>
    </div>
    <div class="row">
      <div class="col-12 t-center">
        <button class="boxed-btn3-line" (click)="onClickLogOut()">
          Log Out
        </button>
      </div>
    </div>
  </div>
</div>
