.menu-item{    
    width: calc( 100% - 10px);
    text-align: right;
    margin: 5px;
  }
  $iconWidth: 32px;
  mat-icon {
      font-size: 30px;
      height: $iconWidth;
      width: $iconWidth;
      line-height: $iconWidth;
      color: rgb(0, 154, 222);
    }
  
    .selected-menu{
      border-bottom: 2px solid white;
    }
    
    .menu-container{
      width: 5000px;
    }
  
    .menu-item{    
      width: calc( 100% - 10px);
      text-align: left;
      margin: 5px;
    }
  
    .img-icon{
        width: 32px;
        height: 32px;
        filter: invert(0.4) sepia(1) saturate(50) hue-rotate(173deg);
    }
    