.single_property {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 30px;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}
h2 {
  box-sizing: border-box;
}
a, u {
  text-decoration: none;
  color: #001D38;
}
.property_thumb {
  position: relative;
  overflow: hidden;
}
.addr-icon {
  color: #919191;
}
.property_tag {
  position: absolute;
  top: 25px;
  left: 25px;
  background: #fdae5c;
  padding: 8px 14px;
  color: #fff;
  border-radius: 30px;
  font-size: 13px;
  font-weight: 500;
  z-index: 1;
}

.single_property .property_thumb img {
  width: 100%;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.single_property .property_thumb img:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
}

.single_property .property_content .main_pro h2 a:hover {
  color: #fdae5c;
}
img {
  vertical-align: middle;
  border-style: none;
  min-height: 200px;
  max-height: 200px;
}
.property_content {
  padding: 25px;
  border-bottom: 1px solid #e8e8e8;
}
span {
  font-size: 18px;
  font-weight: 400;
  color: #919191;
}
.amount {
  display: inline-block;
  background: #00d363;
  border-radius: 30px;
  padding: 7px 18px;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  margin-top: 13px;
}
.footer_pro {
  padding: 12px 25px;
}
li {
  list-style: none;
  display: list-item;
  text-align: -webkit-match-parent;
}
ul li .single_info_doc span {
  color: #676767;
  font-size: 18px;
  font-weight: 400;
  margin-left: 5px;
  display: inline-block;
}

.footer_pro ul {
  display: -webkit-box;
  display: -ms-flexbox;
  /* display: flex; */
  /* -webkit-box-align: center; */
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
ul {
  margin: 0px;
  padding: 0px;
  display: inherit;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.single_info_doc mat-icon {
  font-size: 22px;
  color: #676767;
  margin-left: 25px;
}
.ml--22 {
  margin-left: -22px !important;
}
