<div class="single_property">
  <div class="property_thumb">
    <div class="property_tag">for {{ for }}</div>
    <img src={{img}} alt="" />
  </div>
  <div class="property_content">
    <div class="main_pro">
      <h2>
        <a href="">
          {{ topic }}
        </a>
      </h2>
    </div>
    <div class="mark_pro">
      <mat-icon class="addr-icon">location_on</mat-icon>
      <span>{{ addr }}</span>
    </div>
    <div class="amount">from {{ price }}$</div>
  </div>
  <div class="footer_pro">
    <div class="f-w bootstrap-wrapper">
      <div class="row">
        <ul id="ul_top_hypers">
          <li>
            <div class="single_info_doc">
              <mat-icon class="ml--22">rounded_corner</mat-icon>
              <span>{{ sqf }} Sqft</span>
            </div>
          </li>
          <li>
            <div class="single_info_doc">
              <mat-icon>night_shelter</mat-icon>
              <span>{{ bednum }} bed</span>
            </div>
          </li>
          <li>
            <div class="single_info_doc">
              <mat-icon>bathtub</mat-icon>
              <span>{{ bathnum }} bath</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
