.align-items-center {
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
}
.text-center {
  text-align: center !important;
}
.justify-content-center {
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
}

.property_form {
  padding: 30px;
  background:rgb(255 255 255 / 64%);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}
.single-field.max_width {
  margin-right: 24px;
}

select {
  text-transform: none;
}
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.slider_bg_1 {
  background-image: url(../../../../assets/01.jpg);
}
.slider_area .single_slider {
  height: 712px;
  width: 120%;
  margin-left: -10%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.slider_text h3 {
  font-family: "Poppins", sans-serif;
  font-size: 70px;
  text-transform: capitalize;
  letter-spacing: 2px;
  font-weight: 600;
  line-height: 70px;
  margin-bottom: 15px;
  color: #fff;
}

.single_slider .slider_text p {
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 24px;
  margin-top: 10px;
}
.slider_area::before {
    background: #001D38;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: '';
    opacity: .6;
}


// <------------------------ material ------------------------> 
// .ng5-slider-pointer {
//   background-color: #fdad5c !important;
// }
// .ng5-slider-active::after {
//   background-color: #fd8f5e !important;
// }
// .ng5-slider .ng5-slider-bubble {
//   color: whitesmoke !important;
// }
// .ng5-slider .ng5-slider-selection {
//   background: #fdad5c !important;
// }
// .mat-form-field-label {
//   color: #fdad5c !important;
// }
// .mat-select-arrow{
//   color: #fdad5c !important;
// }
// .mat-select-value{
//   color: whitesmoke;
// }

// // <------------------------ End material ------------------------> 